body {
    margin: 0;
}

.formatting {
    padding: 2rem;
}

.content {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    padding: 1rem;
    height: 100vh;
    background-color: rgb(53, 32, 66);
}