#navbar {
    width: 100vw;
    height: 4rem;
    background-color: ivory;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

#navbar a {
    text-decoration: none;
    color: blueviolet;
    text-emphasis: inherit;
    font-size: 1.2rem;
}